.c-splash {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--c-white);
    font-family: var(--t-secondary);
    font-size: 10rem;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    &--show {
        opacity: 1;
    }
}