@mixin colors {
    --c-white: #ffffff;
    --c-gray--100: #f9f9f9;
    --c-gray--300: #eeeeee;
    --c-gray--900: #656565;
    --c-black--700: #2b2b2b;
    --c-black--900: #202020;
    --c-primary: #b69f58;

    --c-body: var(--c-white);
    --c-text: var(--c-black--900);
    --c-text-secondary: var(--c-gray--700);
    --c-text-gray: var(--c-gray--900);
}
